{%- if section.settings.mode != 'disabled' -%}

<div
  id="NewsletterPopup-{{ section.id }}"
  class="modal modal--square modal--mobile-friendly"
  data-section-id="{{ section.id }}"
  data-section-type="newsletter-popup"
  data-delay-days="{{ section.settings.popup_days }}"
  data-delay-seconds="{{ section.settings.popup_seconds }}"
  data-test-mode="{% if section.settings.mode == 'testing' %}true{% else %}false{% endif %}">
  <div class="modal__inner">
    <div class="modal__centered medium-up--text-center">
      <div class="modal__centered-content">

        <div class="newsletter">
          {%- if section.settings.popup_title != blank -%}
            <h2 class="h1">{{ section.settings.popup_title }}</h2>
          {%- endif -%}

          {%- if section.settings.popup_image -%}
            <div class="image-wrap small--hide" style="height: 0; padding-bottom: {{ 100 | divided_by: section.settings.popup_image.aspect_ratio }}%;">
              {%- assign img_url = section.settings.popup_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <img class="lazyload lazypreload" role="presentation"
                  data-src="{{ img_url }}"
                  data-widths="[540, 720, 900, 1080]"
                  data-aspectratio="{{ section.settings.popup_image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ section.settings.popup_image.alt }}">
            </div>
          {%- endif -%}

          {%- if section.settings.popup_text != blank -%}
            <div class="rte">
              {{ section.settings.popup_text }}
            </div>
          {%- endif -%}

          {%- if section.settings.enable_newsletter -%}
            <div class="popup-cta">
              {%- render 'newsletter-form', section_id: section.id, snippet_context: 'popup' -%}
            </div>
          {%- endif -%}

          {%- if section.settings.enable_button -%}
          <div class="popup-cta">
            <a href="{{ section.settings.button_link }}" class="btn">
              {{ section.settings.button_label }}
            </a>
          </div>
          {%- endif -%}

         <button type="button" class="text-close js-modal-close">{{ section.settings.close_text }}</button>
        </div>
      </div>

      <button type="button" class="modal__close js-modal-close text-link">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"/></svg>
        <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
      </button>
    </div>
  </div>
</div>

{%- endif -%}

{% schema %}
{
  "name": "t:sections.newsletter-popup.name",
  "class": "index-section--hidden",
  "settings": [
    {
      "type": "select",
      "id": "mode",
      "label": "t:sections.newsletter-popup.settings.mode.label",
      "default": "disabled",
      "options": [
        {
          "value": "enabled",
          "label": "t:sections.newsletter-popup.settings.mode.options.enabled.label"
        },
        {
          "value": "testing",
          "label": "t:sections.newsletter-popup.settings.mode.options.testing.label"
        },
        {
          "value": "disabled",
          "label": "t:sections.newsletter-popup.settings.mode.options.disabled.label"
        }
      ],
      "info": "t:sections.newsletter-popup.settings.mode.info"
    },
    {
      "type": "range",
      "id": "popup_seconds",
      "label": "t:sections.newsletter-popup.settings.popup_seconds.label",
      "info": "t:sections.newsletter-popup.settings.popup_seconds.info",
      "default": 5,
      "min": 2,
      "max": 60,
      "step": 1,
      "unit": "sec"
    },
    {
      "type": "range",
      "id": "popup_days",
      "label": "t:sections.newsletter-popup.settings.popup_days.label",
      "default": 30,
      "info": "t:sections.newsletter-popup.settings.popup_days.info",
      "min": 2,
      "max": 30,
      "step": 1,
      "unit": "day"
    },
    {
      "type": "header",
      "content": "t:sections.newsletter-popup.settings.header_content"
    },
    {
      "type": "text",
      "id": "popup_title",
      "label": "t:sections.newsletter-popup.settings.popup_title.label",
      "default": "Sign up and save"
    },
    {
      "type": "image_picker",
      "id": "popup_image",
      "label": "t:sections.newsletter-popup.settings.popup_image.label",
      "info": "t:sections.newsletter-popup.settings.popup_image.info"
    },
    {
      "type": "richtext",
      "id": "popup_text",
      "label": "t:sections.newsletter-popup.settings.popup_text.label",
      "default": "<p>Entice customers to sign up for your mailing list with discounts or exclusive offers. Include an image for extra impact.</p>"
    },
    {
      "type": "text",
      "id": "close_text",
      "label": "t:sections.newsletter-popup.settings.close_text.label",
      "default": "No thanks"
    },
    {
      "type": "header",
      "content": "t:sections.newsletter-popup.settings.header_newsletter"
    },
    {
      "type": "paragraph",
      "content": "t:sections.newsletter-popup.settings.content"
    },
    {
      "type": "checkbox",
      "id": "enable_newsletter",
      "label": "t:sections.newsletter-popup.settings.enable_newsletter.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.newsletter-popup.settings.header_button"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.newsletter-popup.settings.button_label.label",
      "default": "Optional button"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.newsletter-popup.settings.button_link.label"
    },
    {
      "type": "checkbox",
      "id": "enable_button",
      "label": "t:sections.newsletter-popup.settings.enable_button.label",
      "default": false
    }
  ],
  "blocks": []
}
{% endschema %}
